/* You can add global styles to this file, and also import other style files */
@import "/src/assets/scss/variables";
@import "/src/assets/scss/typoography";

body,
html {
  background-color: $color-brg;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  &:active,
  :focus {
    outline: none !important;
  }
}
